body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
.container {
    height: 100%;
    position: relative;
}
nav {
    width: 300px;
    height: 100%;
    position: absolute;
    z-index: 21;
    background: #fff;
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
}
nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
@media (min-width: 600px) {
    nav {
        position: absolute;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    #menu {
        display: none;
    }
}
input {
    font-size: 12px;
}
h1 {
    color: #525454;
    font-size: 22px;
    margin: 0 0 10px 0;
    text-align: center;
}
#hide-listings,
#show-listings {
}
main {
    width: 100%;
    height: 100%;
}
a#menu svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    fill: #000;
    z-index: 20;
}
#map {
    width: 100%;
    height: 100%;
    z-index: 19;
}
.options-box {
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    height: 100%;
    line-height: 35px;
    padding: 10px 10px 30px 10px;
    text-align: left;
    width: 340px;
}
#zoom-to-apiary-text {
    position: relative;
    width: 50%;
}
#zoom-to-apiary {
    width: 24%;
}